.cont {
    background-image: url("../../Imagenes/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 800px;
    border: 2px solid black;
    box-shadow: 6px 6px 5px 0px rgba(102, 81, 54, 0.5);
    border-radius: 20px 100px;
    background:radial-gradient(rgba(232, 217, 202, 0.753)0%,rgba(232, 217, 202, 0.836));
    transition: 0.3s;
}
.contenedor:hover{
    transform: scale(1.05);
}

.image {
    height: 526px;
    width: 800px;
    border-top-left-radius: 20px;
    border-top-right-radius: 100px;

}

.filt {
    margin: 30px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #ff862f;
    border: #ff862f;
    transition: 0.1s;
}

.filt:hover {
    transform: scale(1.03);
}