.contenedor {
    display: flex;
    flex-direction: column;
    margin: 0%;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #fbffa5;
    background-size: cover;
}

.filtros {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filt {
    margin: 10px;
}

.cartas {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px;
}

.carta {
    text-decoration: none;
    transition: 0.3s;

}

.carta:hover {
    transform: scale(1.03);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;

}