.contenedor {
    display: flex;
    flex-direction: column;
    margin: 0%;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #fbffa5;
    background-size: cover;
}

.title {
    font-size: 75px;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filtros {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filt {
    margin: 10px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: #ff862f;
    border: #ff862f;
    transition: 0.1s;
}

.filt:hover {
    transform: scale(1.03);
}

.cartas {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px;
}

.carta {
    text-decoration: none;
    transition: 0.3s;

}

.carta:hover {
    transform: scale(1.03);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;

}

.botones {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: #ff862f;
    border: #ff862f;
    transition: 0.1s;
}

.botones:hover {
    transform: scale(1.03);
}