.paginas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lista {
    list-style: none;
    margin: 10px;
  
}
.num{
    background-color:#ff862f;
    border: #ff862f;
    border-radius: 4px;
    transition: 0.1s;
    font-size: 15px;
}
.num:hover{
    transform: scale(1.3);
}
.num:focus{
    background-color: rgb(231, 76, 10);
}